apiVersion: v1
kind: Service
metadata:
  name: {{if .NamePrefix}}{{.NamePrefix}}-{{end}}redis-master
  namespace: {{.Namespace}}
spec:
  selector:
    app: {{if .NamePrefix}}{{.NamePrefix}}-{{end}}redis
    role: master
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  type: ClusterIP

