apiVersion: v1
kind: Service
metadata:
  name: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}redis-master
  namespace: {{if .Spec.Global.namespace}}{{.Spec.Global.namespace}}{{else}}default{{end}}
spec:
  selector:
    app: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}redis
    role: master
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  type: ClusterIP

