apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}redis-slave
  namespace: {{if .Spec.Global.namespace}}{{.Spec.Global.namespace}}{{else}}default{{end}}
spec:
  {{- $redisSlave := getService "redis-slave"}}
  replicas: {{if $redisSlave.replicas}}{{$redisSlave.replicas}}{{else if .Spec.Global.replicas}}{{.Spec.Global.replicas}}{{else}}1{{end}}
  selector:
    matchLabels:
      app: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}redis
      role: slave
  template:
    metadata:
      labels:
        app: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}redis
        role: slave
    spec:
      {{- if .Spec.Global.imagePullSecrets}}
      imagePullSecrets:
      {{- range .Spec.Global.imagePullSecrets}}
      - name: {{.name}}
      {{- end}}
      {{- end}}
      containers:
      - name: slave
        image: {{if .Spec.Global.imageRegistry}}{{.Spec.Global.imageRegistry}}/{{end}}gcr.io/google_samples/gb-redisslave:{{if $redisSlave.imageTag}}{{$redisSlave.imageTag}}{{else if .Spec.Global.imageTag}}{{.Spec.Global.imageTag}}{{else}}v3{{end}}
        ports:
        - containerPort: 6379
          name: redis
        env:
        - name: GET_HOSTS_FROM
          value: dns
        resources:
          requests:
            memory: {{if and $redisSlave.resources $redisSlave.resources.requests $redisSlave.resources.requests.memory}}{{$redisSlave.resources.requests.memory}}{{else if and .Spec.Global.resources .Spec.Global.resources.requests .Spec.Global.resources.requests.memory}}{{.Spec.Global.resources.requests.memory}}{{else}}"64Mi"{{end}}
            cpu: {{if and $redisSlave.resources $redisSlave.resources.requests $redisSlave.resources.requests.cpu}}{{$redisSlave.resources.requests.cpu}}{{else if and .Spec.Global.resources .Spec.Global.resources.requests .Spec.Global.resources.requests.cpu}}{{.Spec.Global.resources.requests.cpu}}{{else}}"100m"{{end}}
          limits:
            memory: {{if and $redisSlave.resources $redisSlave.resources.limits $redisSlave.resources.limits.memory}}{{$redisSlave.resources.limits.memory}}{{else if and .Spec.Global.resources .Spec.Global.resources.limits .Spec.Global.resources.limits.memory}}{{.Spec.Global.resources.limits.memory}}{{else}}"256Mi"{{end}}
            cpu: {{if and $redisSlave.resources $redisSlave.resources.limits $redisSlave.resources.limits.cpu}}{{$redisSlave.resources.limits.cpu}}{{else if and .Spec.Global.resources .Spec.Global.resources.limits .Spec.Global.resources.limits.cpu}}{{.Spec.Global.resources.limits.cpu}}{{else}}"200m"{{end}}

