apiVersion: v1
kind: Service
metadata:
  name: {{if .NamePrefix}}{{.NamePrefix}}-{{end}}redis-slave
  namespace: {{.Namespace}}
spec:
  selector:
    app: {{if .NamePrefix}}{{.NamePrefix}}-{{end}}redis
    role: slave
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  type: ClusterIP

