apiVersion: v1
kind: Service
metadata:
  name: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}api-service
  namespace: {{if .Spec.Global.namespace}}{{.Spec.Global.namespace}}{{else}}default{{end}}
  {{- $apiService := getService "api-service"}}
  {{- if $apiService.service.annotations}}
  annotations:
  {{- range $key, $value := $apiService.service.annotations}}
    {{$key}}: {{$value}}
  {{- end}}
  {{- end}}
spec:
  selector:
    app: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}api-service
  ports:
  - port: {{if $apiService.port}}{{$apiService.port}}{{else}}8080{{end}}
    targetPort: {{if $apiService.port}}{{$apiService.port}}{{else}}8080{{end}}
    name: http
  type: {{if $apiService.service.type}}{{$apiService.service.type}}{{else}}ClusterIP{{end}}
