apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}frontend
  namespace: {{if .Spec.Global.namespace}}{{.Spec.Global.namespace}}{{else}}default{{end}}
spec:
  replicas: {{if .Spec.Services.frontend.replicas}}{{.Spec.Services.frontend.replicas}}{{else if .Spec.Global.replicas}}{{.Spec.Global.replicas}}{{else}}1{{end}}
  selector:
    matchLabels:
      app: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}frontend
  template:
    metadata:
      labels:
        app: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}frontend
    spec:
      {{- if .Spec.Global.imagePullSecrets}}
      imagePullSecrets:
      {{- range .Spec.Global.imagePullSecrets}}
      - name: {{.name}}
      {{- end}}
      {{- end}}
      containers:
      - name: php-redis
        image: {{if .Spec.Global.imageRegistry}}{{.Spec.Global.imageRegistry}}/{{end}}gcr.io/google_samples/gb-frontend:{{if .Spec.Services.frontend.imageTag}}{{.Spec.Services.frontend.imageTag}}{{else if .Spec.Global.imageTag}}{{.Spec.Global.imageTag}}{{else}}v5{{end}}
        ports:
        - containerPort: 80
          name: http
        env:
        - name: GET_HOSTS_FROM
          value: dns
        resources:
          requests:
            memory: {{if and .Spec.Services.frontend.resources .Spec.Services.frontend.resources.requests .Spec.Services.frontend.resources.requests.memory}}{{.Spec.Services.frontend.resources.requests.memory}}{{else if and .Spec.Global.resources .Spec.Global.resources.requests .Spec.Global.resources.requests.memory}}{{.Spec.Global.resources.requests.memory}}{{else}}"64Mi"{{end}}
            cpu: {{if and .Spec.Services.frontend.resources .Spec.Services.frontend.resources.requests .Spec.Services.frontend.resources.requests.cpu}}{{.Spec.Services.frontend.resources.requests.cpu}}{{else if and .Spec.Global.resources .Spec.Global.resources.requests .Spec.Global.resources.requests.cpu}}{{.Spec.Global.resources.requests.cpu}}{{else}}"100m"{{end}}
          limits:
            memory: {{if and .Spec.Services.frontend.resources .Spec.Services.frontend.resources.limits .Spec.Services.frontend.resources.limits.memory}}{{.Spec.Services.frontend.resources.limits.memory}}{{else if and .Spec.Global.resources .Spec.Global.resources.limits .Spec.Global.resources.limits.memory}}{{.Spec.Global.resources.limits.memory}}{{else}}"128Mi"{{end}}
            cpu: {{if and .Spec.Services.frontend.resources .Spec.Services.frontend.resources.limits .Spec.Services.frontend.resources.limits.cpu}}{{.Spec.Services.frontend.resources.limits.cpu}}{{else if and .Spec.Global.resources .Spec.Global.resources.limits .Spec.Global.resources.limits.cpu}}{{.Spec.Global.resources.limits.cpu}}{{else}}"200m"{{end}}

