apiVersion: v1
kind: Service
metadata:
  name: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}frontend
  namespace: {{if .Spec.Global.namespace}}{{.Spec.Global.namespace}}{{else}}default{{end}}
spec:
  selector:
    app: {{if .Spec.Global.namePrefix}}{{.Spec.Global.namePrefix}}{{end}}frontend
  ports:
  - port: 80
    targetPort: 80
    name: http
  type: ClusterIP

